.red {
    color: red;
}

.header {
    height: 60px;

    & .title {
        font-weight: bold;
        color: red;
    }

    @media screen (max-width: 760px) {
        & {
            height: 30px;
        }
    }

    @nest .content & {
        height: 50px;
    }
}